@import "tailwindcss";
@import "../node_modules/lunchbox-css/index.css";
@import "../node_modules/lunchbox-css/styles/noise.css";
@import "../node_modules/lunchbox-css/styles/keynav.css";

@plugin "@tailwindcss/typography";

@plugin "daisyui" {
  themes: false;
}

.dotted {
  background: var(--gradient-dotted);
}

.vignette {
  mix-blend-mode: multiply;
}

@media (prefers-color-scheme: dark) {
  .vignette {
    mix-blend-mode: exclusion;
  }
}

.dark\:invert:focus, .invert:focus {
  filter: invert(0);
}
