:root {
  --font-mono: ui-monospace, monospace;
  --font-sans: system-ui, ui-sans-serif, sans-serif;
  --font-serif: ui-serif, serif;

  --screen-md: 40em;
  --screen-lg: 80em;

  --sp-1-8: 0.125em;
  --sp-1-4: 0.25em;
  --sp-3-8: 0.375em;
  --sp-1-3: 0.3333333333em;
  --sp-1-2: 0.5em;
  --sp-5-8: 0.625em;
  --sp-2-3: 0.6666666666em;
  --sp-3-4: 0.75em;
  --sp-7-8: 0.875em;
  --sp-1-1: 1em;
  --sp-3-2: 1.5em;
  --sp-2-1: 2em;
  --sp-3-1: 3em;
  --sp-4-1: 4em;
  --sp-15-1: 15em;
  --sp-banner: 90dvh;

  --gradient: repeating-conic-gradient(
    var(--clr-panel) 0% 25%,
    transparent 0% 100%
  ) 2px 1px / 4px 4px;

  --gradient-linear: repeating-linear-gradient(
    45deg,
    var(--clr-panel),
    var(--clr-panel) var(--sp-1-2),
    var(--clr-brand-lc) var(--sp-1-2),
    var(--clr-brand-lc) var(--sp-1-1)
  );

  --grad-dotted: repeating-conic-gradient(
    var(--clr-brand-lc) 0% 25%,
    var(--clr-page) 0% 100%
  ) 2px 1px / 4px 4px;
}

:root {
  --clr-neutral: #3d3640;
  --clr-neutral-60: rgba(61, 54, 64, 0.6);
  --clr-neutral-30: rgba(61, 54, 64, 0.3);
  --clr-brand: #089969;
  --clr-brand-lc: #c8d9db;
  --clr-brand-hc: #00806a;
  --clr-error-lc: #dbc4c5;
  --clr-error-hc: #66050d;
  --clr-page: #d5ced9;
  --clr-page-60: rgba(213, 206, 217, 0.6);
  --clr-panel: #efe7f3;
  --clr-panel-90: rgba(239, 231, 243, 0.9);
}

@media (prefers-color-scheme: dark) {
  :root {
    --clr-neutral: #eee6f2;
    --clr-neutral-60: rgba(238, 230, 242, 0.6);
    --clr-neutral-30: rgba(238, 230, 242, 0.3);
    --clr-brand-lc: #344747;
    --clr-brand-hc: #9eed77;
    --clr-error-lc: #573c4d;
    --clr-error-hc: #fa96c8;
    --clr-page: #3d3640;
    --clr-page-60: rgba(61, 54, 64, 0.6);
    --clr-panel: #241f26;
    --clr-panel-90: rgba(36, 31, 38, 0.9);
  }
}

@keyframes flicker {
  0%,
  49% {
    opacity: 0;
  }
  50%,
  100% {
    opacity: 1;
  }
}
